.head{
  display: flex;
  justify-content: space-between;

}

.general{
margin: 0;
}
header.head{
max-width: 1146px;
margin-top: 30px;
align-items: center;
}


.logo{
 width: 77.66px;
 height: 21.53px;
 display: flex;
 margin-top: 16px;
 
}
.nav{
  list-style-type: none;
  display: flex;
  width: 400px;
  justify-content: space-between;
  padding: 0;
}
.one{
text-decoration: none;
color: black;
font-family: 'Roboto';
}
.two{
text-decoration: none;
color: black;
font-family: 'Roboto';
}
.three{
text-decoration: none;
color: black;
font-family: 'Roboto';
}
.four{
text-decoration: none;
color: black;
font-family: 'Roboto';
}
.text_like{
margin-top: 70px;
margin-bottom: 25px;
font-family: "Work Sans", sans-serif;
font-weight: 600;
font-size: 72px;
line-height: 86.4px;


}
.under_text{
font-size: 20px;
}

.find{
margin: 50px 0px;
padding: 0 0;
display: flex;
width: 433px;
height: 72px;
}

h1{
margin: 30px 0px;
}

.part1{
margin-left: 12.4px;
margin-top: 15px;
}
.general_giv{
width: 1167.35px; 
height: 597px;
margin: 0 auto;
margin-top: 40px;
display: flex;
justify-content: space-between;



}
.head{
width: 100%;
max-width: 1440px; 
max-height: 825px;
margin: 0 auto;
}


.pic_1{
height: 521px;
width: 428px;
}
.search{
  flex: 1;
    padding: 20px;
    border: 1px solid #191919;
    border-radius: 3px;
    font-size: 16px;
    box-sizing: border-box;

}
.noon{
  width: 491px;
  height: 597px;
}

.button{
  width: 150px;
  height: 72px;
  margin-right: 30px;
  padding: 0 0;
  border-radius: 3px;
  border-style: none;
  background-color: #3C4BA6;
  color: white;
  margin-left: -5px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30.6px;
  letter-spacing: 0.2px;
}



.back{
  max-width: 1440px;
  height: 825px;
  display: flex;
  margin: 0 auto;

}
.container{

}
.title{
  position: absolute;
  height: 52px;
  width: 100%;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 52px;
  font-weight: 600;
  margin-top: 150px;
  
}

.list{
max-width: 1146px;
margin: 0 auto;
}

.backet{
display: flex; 
justify-content: space-between; 
list-style-type: none;
position: absolute;
margin-top: 300px;
padding: 0;
width: 1146px;
height: 541px;

}

.item{
width: 362px;
height: 389px;
background: white;
margin: 20px;
border-radius: 5px;
}
.rest{
margin-left: 25px;
}
.more{
text-decoration: none;
color: #3C4BA6;
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 16px;
}
.number3{
  font-family: "Work Sans", sans-serif;
  font-size: 62px;
  font-weight: 600;
  line-height: 68.2px;
}
.bt1{
text-decoration: none;
color: #3C4BA6;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 20px;
}
.container_3{
width: 545px;
height: 368px;
}
.block_3{
  max-width: 1440px;
  margin: 0 auto;
  height: 711px;
  margin-top: 50px;
  align-content: center;
}
.botton1{
  margin-top: 30px;

}
.ab{
position: absolute;
margin-left: 713px;
margin-top: 50px;
width: 436px;
height: 343px;

}
.p1{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-style: normal;
size: 20px;
line-height: 28px;
}
.p7{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-style: normal;
size: 16px;
line-height: 22.4px;
}

.fav{
max-width: 1440px;
height: 883px;
margin: 0 auto;
}

li{
margin-top: 20px;
}
.smec{
  margin-left: -15px;
  margin-top: -20px;
}

.Two_fff{
display: flex;
margin-left: 37px;
}
.fff1{
width: 227px;
height: 250px;
}
.fff2{
width: 227px;
height: 250px;

}
.fff3{
width: 474px;
height: 166px;
margin-left: 26px;
}
.Three_fff{
position: absolute;
margin-top: -38px;
}
.Base{
width: 534px;
height: 500px;
}
.block_4{
display: flex;
justify-content: space-between;
width: 1440px;
height: 656px;
align-items: center;
margin: auto;
}
.sub{
width: 545px;
height: 369px;
margin-top: -90px;
}
.Hq{
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 62px;
  line-height: 68.2px;
}
.Pq{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-style: normal;
size: 20px;
line-height: 28px;
}
.bt2{
  text-decoration: none;
  color: #3C4BA6;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}
.title5{
text-align: center;
margin: 0 auto;
height: 116px;
width: 989px;
font-family: "Work Sans", sans-serif;
font-optical-sizing: auto;
font-style: normal;
line-height: 68.2px;
font-size: 62px;
font-weight: 600;
}
.subtitle{
text-align: center;
font-family: "Roboto", sans-serif;  
font-weight: 400;
font-size: 20px;
line-height: 28px;
width: 870px;
height: 11px;
margin: 0 auto;
padding-top: 50px;

}
.vector{
position: absolute;
margin-top: -525px;
margin-left: 86px;

}
.man{
position: absolute;
margin-left: 136px;
width: 362px;
height: 500px;
border-radius: 5px;
}
.black{
display: flex;
margin-top: 100px;
margin-left: auto;
margin-right: auto;
width: 1146px;
height: 500px;
border-radius: 5px;
}
.txt{
width: 561px;
height: 144px;
font-family: "Work Sans", sans-serif;
font-weight: 600;
font-size: 30px;
line-height: 39px;
color: white;
margin-left: 580px;
margin-top: -370px;
}
.vector1{
position: absolute;
top: -20px;
right: 137px;
transform: rotate(180deg);
}

.block_5{
width: 1440px;
height: 919px;
margin: 0 auto;
}
.title6{
text-align: center;
margin: 0 auto;
height: 116px;
width: 989px;
font-family: "Work Sans", sans-serif;
font-optical-sizing: auto;
font-style: normal;
line-height: 68.2px;
font-size: 62px;
font-weight: 600;
}
.un1{
font-family: "Work Sans", sans-serif;
font-weight: 600;
font-size: 20px;
line-height: 26px;
display: flex;
margin-top: 40px ;
}
.un2{
font-family: "Work Sans", sans-serif;
font-weight: 600;
font-size: 20px;
line-height: 26px;
color: gray;

}
.ul_6{
list-style-type: none;
display: flex;
width: 1146px;
justify-content: space-between;
margin: 0 auto;
padding: 0;
}
.absolut_6{
position: absolute;
margin-left: 70px;
margin-top: 60px;
}

.bat{
font-family: "Work Sans", sans-serif;
font-weight: 600;
font-size: 50px;
line-height: 60px;
}



.p_1{
font-family: "Roboto", sans-serif;  
font-weight: 400;
font-size: 20px;
line-height: 28px;
margin-top: -15px;
}
.linko{
  text-decoration: none;
  color: #3C4BA6;
  font-family: "Roboto", sans-serif; 
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  display: inline;
  width: 145px;
}
.absolut_7{
  position: absolute;
  margin-left: 670px;
  margin-top: 60px;
  }
  
  .bat_2{
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  }
  
  
  
  .pp_1{
  font-family: "Roboto", sans-serif;  
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-top: -15px;
  }
  .linko_2{
    text-decoration: none;
    color: #3C4BA6;
    font-family: "Roboto", sans-serif; 
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    display: inline;
    width: 145px;
  }
  .ganne{
    display: flex;
    width: 1167.35px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .under_block{
    display: flex;
    width: 1167.35px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .block_6{
    max-width: 1440px;
    height: 701px;
    margin: 0 auto;

  }
.under_text2{
  margin: 0 auto;
  width: 1146px;
  height: auto;
}
.black_photo{
  width: 1440px;
  height: 554px;
  border: none;
  border-radius: 0 0 60px 60px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.wt_vector{
  position: absolute;
  top: -20px;

}
.wt_block{
  position: absolute;
  top: -21px;
  width: 106px;
  height: 21px;
}
.footer{
  max-width: 1440px;
  height: 554px;
  margin: 0 auto;
}
.peboo_f{
  width: 115.7px;
  height: 30.78px;
}
.foot_txt{
  font-family: "Roboto", sans-serif; 
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 30px;
  margin-top: 30px;

}
.massangers{
  width: 220px;
  height: 40px;
  justify-content: space-between;
  display: flex;
}
.main_ul{
  display: flex;
  width: 1146px;
  height: 254px;
  padding: 0px;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: -400px;
  align-items: center;
}
.first_li{
  list-style-type: none;
  margin: 0px;
  
}
.first_sec{
  width: 312px;
  height: 224.39px;
}
.h1_foot{
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 35.31px;
  letter-spacing: 0.5px;

}
.second_third_fourth_li{
  list-style-type: none;
  margin: 0px;
}
.first_set{
  color: #FFFFFF;
  font-family: "Roboto", sans-serif; 
  font-weight: 500;
  font-size: 20px;
  line-height: 23.54px;
  opacity: 90%;
  display: flex;
  margin-bottom: 30px;
  text-decoration: none;
}
.second_set{
  color: #FFFFFF;
  font-family: "Roboto", sans-serif; 
  font-weight: 500;
  font-size: 20px;
  line-height: 23.54px;
  opacity: 90%;
  display: flex;
  margin-bottom: 30px;
  text-decoration: none;

}
.third_set{
  color: #FFFFFF;
  font-family: "Roboto", sans-serif; 
  font-weight: 500;
  font-size: 20px;
  line-height: 23.54px;
  opacity: 90%;
  display: flex;
  margin-bottom: 30px;
  text-decoration: none;

}
.fourth_set{
  color: #FFFFFF;
  font-family: "Roboto", sans-serif; 
  font-weight: 500;
  font-size: 20px;
  line-height: 23.54px;
  opacity: 90%;
  display: flex;
  text-decoration: none;

}
.second_sec{
  width: 163px;
  height: 254px;
}
.third_sec{
  width: 133px;
  height: 198px;
}
.first_set_3{
  color: #FFFFFF;
  font-family: "Roboto", sans-serif; 
  font-weight: 500;
  font-size: 20px;
  line-height: 23.54px;
  opacity: 90%;
  display: flex;
  margin-bottom: 30px;
  text-decoration: none;

}
.second_set_3{
  color: #FFFFFF;
  font-family: "Roboto", sans-serif; 
  font-weight: 500;
  font-size: 20px;
  line-height: 23.54px;
  opacity: 90%;
  display: flex;
  margin-bottom: 30px;
  text-decoration: none;


}
.third_set_3{
  color: #FFFFFF;
  font-family: "Roboto", sans-serif; 
  font-weight: 500;
  font-size: 20px;
  line-height: 23.54px;
  opacity: 90%;
  display: flex;
  text-decoration: none;


}
.h1_foot_2{
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 35.31px;
  letter-spacing: 0.5px;
  margin-top: 0px;
}
.third_fourth_li{
  list-style-type: none;
  margin: 0px;
  margin-top: -30px;
}
.wavy_vector{
  position: absolute;
  right: 40px;
    top: 430px;
}
.wq{
  cursor: pointer;
}
.wq:hover{
  color: #FFFFFF;
  opacity: 70%;
}
